// Fonts
$main_font: 'Lato',
sans-serif;
// Media Queries
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$full-page: 1610px;
// Colors
$primary: #005b9f;
$secondary:#7b7b7b;
$tertiary: #FCC11C;
$danger: #dc3545;
$success: #00d270;
$warning: #f9eb46;
$green: #23D160;
$gray: #F5F7FB;
$dark: #000000;
$light: #FFFFFF;
// New colors
$light2: #F4F2FA;
$light3: #EEEEEE;
$mustard: #F9C319;
$light_gray: #dcdacb;
$light_gray2: #9a9a9a;
$dark_gray: #7b7b7b;
$dark_gray2: #707070;
$dark_gray3: #727272;
$aquamarine: #32CC7A;
$medium_gray: #ECECEC;
$blue: #328acc;
