
// MENU INICIO 
.navbar-custom{
    background: $light;
    width: 0;
    height: 100vh;
    z-index: 10000;
    padding: 0;
    transition: 0.3s ease;
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;

    @include small{
        width: 8%;
        padding: 20px 10px;
    }

    @include medium{
        width: 30%; 
    }

    @include extra-large{
        overflow: initial;
        width: 22%;
        overflow-y: hidden;
    }

    .nav-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 50px;
        background: $light;
        @include small{
            position: initial;
            width: 100%;
            height: initial;
            top: initial;
            left: initial;
        }

        @include medium{
            justify-content: space-between;
        }

        .nav-pais{
            display: none;
            width: 36px;
            height: 36px;
            border-radius: 50%;
      
            @include medium{
                display: block;
            }
        }

        .toggler-nav{
            width: 36px;
            height: 36px;
            padding: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            >span{
                display: inline-block;
                background: #333333;
            }

            > span:nth-child(1){
                width: 27px;
                height: 3px;
            }

            > span:nth-child(2){
                width: 21px;
                height: 3px;
                margin-top: 2.5px;
                margin-bottom: 2.5px;
            }

            > span:nth-child(3){
                width: 15px;
                height: 3px;
            }
        }

        
    }

    /* body nav  */
    .nav-persona {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .img-person{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            img{
                width: 100% !important;
                height: 100% !important;
            }
        }

        span{
            display: inline-block;
            width: 70px;
            height: 20px;
            border-radius: 50px;
            font-size: 0.7rem;
            background: #2BDA51;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $light;
            
        }
    }

    .enlaces-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.8rem !important;
        position: relative;
        width: 100%;
        @include medium{
            justify-content: center;
        }

        @include large{
            justify-content: space-between;
        }

        >div{
            background: #F5F7FB;
            border-radius: 10px;
            padding: 5px;
            width: 48%;
            text-align: left !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include medium{
                width: 100%;
                justify-content: center;
                margin: 5px;
            }

            @include large{
                width: 48%;
                margin: 0;
                justify-content: space-between;
            }

            >span{
                background: #D8E3F5;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50%;
                }
            }

            strong{
                font-weight: 900;
            }

            a{
                color: $dark !important;
                span{
                    font-size: 0.6rem;

                }
            }
        }
    }

    .enlaces-principal{
        list-style: none;
        padding: 0;
        margin-top: 20px;
        li {
            list-style: none;
            margin: 0;
            display: block;
            padding: 10px 10px;
            transition: 0.3s linear;
            background: #f3f1f700;
            &:hover{
                
                background: #f3f1f7;
            }
            a{  
                text-decoration: none !important;
                display: block;
                color: $dark;
                font-weight: 900;
                padding-left: 20px;
                font-size: 0.9rem;
                &:hover{
                    color: $dark;
                    
                }
                span:nth-child(1) {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin-right: 20px;
                    img{
                        width: 100%;
                    }
                }
            }

        }


    }

    .enlace-close{
        width: 100%;
        margin-top: 10px;
        position: relative;
       
        a{  
            text-decoration: none !important;
            display: block;
            color: $dark;
            font-size: 0.9rem;
            font-weight: 900;
            padding: 10px 10px 10px 27px;
            transition: 0.3s linear;
            background: #f3f1f700;
            &:hover{
                color: $dark;
                background: #f3f1f7;
            }

            span:nth-child(1){
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 20px;
                img{
                    width: 100%;
                }
            }

        }
        
    }

    .nav-persona, .enlaces-top, .enlace-close,.enlaces-principal{
        width: 0;
        overflow: hidden;
        @include medium{
            width: initial;
            overflow: initial;
        }
      
    }


}

.navbar-custom-small{
    width: 90%;
    padding: 20px 10px;

    @include small{
        width: 50%;
    }

    @include medium{
        width: 10%; 
    }

    @include extra-large{
        width: 5%;
    }

    .nav-header{
        justify-content: space-between;
        position: initial;
        width: 100%;
        height: initial;
        top: inherit;
        left: inherit;
        @include medium{
            justify-content: center;
        }

        
        .nav-pais{
            display: block;
            @include medium{
                display: none;
            }
        }
    }

    .enlaces-top{
        width: initial;
            @include medium{
                width: 0;
                overflow: hidden;
            }
    }

    .enlaces-principal{
        width: initial;
        @include medium {
            position: absolute;
            overflow: hidden;
            width: 100%;
            left: -5px;
            top: 40vh;
            
            li > a span:nth-child(1){
                width: 20px;
                height: 20px;
                margin: 0;
            }
    
            li > a  span:nth-child(2) {
                display: none;
                padding:0;
                margin: 0;
            }
        }
     
    }
    
    .nav-persona{
        width: initial;
        @include  medium{
            position: absolute;
            overflow: hidden;
            width: 100%;
            left: 0;
            top: 15vh;
            @include large{
                left: -10px;
            }

            @include extra-large{
                left: 0;
            }
            span , p{
                display: none;
            }

            .img-person{
                width: 50px;
                height: 50px;
                margin: auto;
            }
        }
    }

    .enlace-close{
        width: initial;
        @include medium{
            position: absolute;
            overflow: hidden;
            width: 100%;
            left: -5px;
            bottom: 5%;
            
            a span:nth-child(1){
                width: 20px;
                height: 20px;
                margin: 0;
            }
    
            a  span:nth-child(2) {
                display: none;
                padding:0;
                margin: 0;
            }
        }
    }

    .btn-success-custom{
        @include medium{
            display: none;
        }
    }

}

// MENU FIN 

//CONTENEDOR PRINCIPAL INICIO (FORMATEANDO CARS)
.principal-section{
    background: #EFF0F4;
    position: relative;
    transition: 0.3s ease;

    @include small{
        padding-left: 5% !important;
    }

    @include medium{
        padding-left: 30% !important;
    }

    @include extra-large{
        padding-left: 22% !important;
    }

    // FORMATENADO CARDS INICIO
    .card{
        border-style: none !important;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        .card-header{
            border-style: none !important;
            border-radius: 10px 10px 0 0;
            background: transparent !important;
        }
    }
    // FORMATENADO CARDS FIN
    
}

.principal-section-large{
    
    &::after{
        content: '';
        background: rgba(0, 0, 0, 0.322);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    @include medium{
        padding-left: 10% !important;
        &::after{
            position: inherit;
        }
    }

    @include extra-large{
        padding-left: 5% !important;
    }
}
//CONTENEDOR PRINCIPAL FIN

// CLASES GLOBALES

.fondo-one{
    background: #D7EEDF;
}

.fondo-two{
    background: #FFF1CD;
}

.fondo-three{
    background: #F7D2D6;
}

.fondo-four{
    background: #F5F7FB;
}

.color-text-green{
    color: #23D160 !important;
}

.tachado {
    text-decoration: line-through !important;
}


.container-span-text{
    background: #F5F7FB;
    border-radius: 5px;
    padding: 10px 10px;
}


.span-circle, .span-circle-large,.span-circle-extra-large{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 50% !important;
        height: 50% !important;
    }
}

.span-circle-large{
    width: 60px !important;
    height: 60px !important;
}

.span-circle-extra-large{
    width: 60px !important;
    height: 60px !important;
    img{
        width: 100% !important;
        height: 100% !important;
    }
}

.container-for-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    @include  extra-large{
        justify-content: flex-start;
        text-align: left !important;
        width: 70%;
    }
}

.alert-custom{
    background: #2E3CB8 !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column;
    border-radius: 10px !important;
    strong{
        width: 100% ;
        font-weight: 600 !important;
    }

    .text-alert{
        width: 100% ;
    }

    >div {
        h6 {
            font-weight: 900;
        }
        p{
            font-weight: 300;
        }
    }

    @include medium{
        flex-direction: row;
        justify-content: space-evenly !important;

        strong{
            width: 20% ;
            // background: red;
        }

        .text-alert{
            width: 75%;
        }

    }
 
  

}

.btn-success-custom{
    background: #23D160 !important;
    border-color: #23D160 !important;
    width: 100%;
    overflow: hidden;
    font-weight: 600;
    font-size: 0.9rem !important;

    &:hover{
        background: #20be57 !important;
    }
}

.card-text-custom{
    font-size: 0.9rem !important;
    font-weight: 400 !important;
}

.line-vertical{
    position: absolute;
    background: $dark;
    width: 1px;
    height: 80%;
    top: 0;
    right: 5%;
    bottom: 0;
    margin: auto;
}

.text-with-small{
    width: 100%;
        @include extra-large{
            width: 60% !important;
        }
        p{
            font-weight: 400 !important;
        }

}

.list-check{
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    li{
        list-style: none !important;
        display: flex;
        span{
            display: inline-block;
            width: 15px;
            height: 100%;
            margin-right: 5px;
            margin-top: -2px;
            img{
                height: 100% !important;
                width: 100% !important;
            }
        }
        p{
            margin: 0 !important;
            padding: 0 !important;
            width: 90% !important;
            font-size: 0.9rem !important;
        }
    }
}

.span-round-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background: $tertiary;
    color: $light;
    border-radius: 3px;
    font-size: 0.7rem;
    
} 

.input-search{
   position: relative;
   span{
     position: absolute;
     padding: 5px;
     color:  $dark_gray;
     font-size: 1.2rem;
     top: 0;
     right: 1%;
     bottom: 0;
     margin: auto;
     z-index: 3;
   }
}

.container-enlaces-mega{
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    // background: red;
    overflow-y: hidden; 
    overflow-x: auto;
    white-space: nowrap;
    line-height: 80px;

    &::-webkit-scrollbar {
        width: 8px;    
        height: 5px; 
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    &::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }

    button{
        display: inline-block !important;
        margin: 0 10px !important;
        span{
            display: inline-block;
            width: 15px;
            margin-right: 10px;
            img{
                width: 100% !important;
            }
        }
    }

}

.btn-outline-dark-custom{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out;
    border: 1px solid #ced4da;
    outline:none;
    background:  transparent;
    overflow: hidden;
    position: relative;
    &:hover{
        background: #ced4da;
        color: #343a40 ;
    }

    &:active{  
        background: #FFF1CD !important;
        border-style: none;
    }

}

.active-btn-dark{
    background: #FFF1CD !important;
    border-color: #FFF1CD !important;
}

//INICIANDO SECTION-INICIO 
.inicio-section{

    .first-section{
        
        .title-first-section{
            a {
                display: flex;
                align-items: center;
                
            } 
        }

        .cursos-first-section{
            
            >div{
                background: #F5F7FB;
                border-radius: 10px;
            }

            .img-curso-first{
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    border-radius: 5px;
                    // background: red;
                    margin-right: 10px;
                }

                strong{
                    // background: blue;
                    font-weight: 900;
                }
            }

            .progress-button{
                display: flex;
                justify-content: space-between;
                align-items: center !important;
                padding-right: 5px !important;

                .progress-custom{
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .progress{
                        background: transparent !important;
                        border: 0.5px solid #000000 !important;
                        height: 5px !important;
                        .progress-bar{
                            background: #23D160 !important;
                            height: 5px !important;
                        }
                    }

                    span{
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }

                .btn-outline-primary{
                    border: 1px solid #4C84FF !important;
                    color: #464646 !important; 
                    position: relative;
                    padding-right: 30px !important;
                    &:hover{
                        background: #4C84FF !important;
                        color: $light !important;
                    }

                    &::after{
                        content: '';
                        position: absolute;
                        top: 4px;
                        right: 5px;
                        bottom: 0;
                        margin: auto !important;
                        background: $danger;
                        width: 8px;
                        height: 10px;
                        clip-path: polygon(100% 48%, 0 0, 0 100%);
                    }

                    &:hover::after{
                        background: $light !important;
                    }

                }
            }

        }

        .planes-first-section{
            .card .card-body span{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50% !important;
                    height: 50% !important ;
                }
            }

            .planes-text{
                width: 100%;
                @include large{
                    width: 85%;
                }
            }
        }
        

    }
}

//INICIANDO SECTION GRATIS
.inicio-gratis-section{
    .planes-text{
        width: 100%;
        @include large{
            width: 80%;
        }
    }

    .img-second{
        background: #F5F7FB;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        @include large{
            height: 100%;
            padding: 0;
        }

        img{
            height: 90% !important;

            @include large{
                width: 50% !important;
                height: 85% !important;
            }
        }
    }

    .img-text-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;

        div{
            width: 65%;
            p{
                margin: 0;
                padding: 0;
                line-height: 16px !important;
                font-size: 0.9rem !important;
            }
        }

        a{
            display:flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            background-color: $light ;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
            font-size: 0.8rem;
        }
    }
}

// INICIANDO PLANES SECTION 
.planes-section ,.megapacks-section, .planes-flash-section{

    .card-planes{
        background: #F5F7FB !important;
        box-shadow: none !important;
        margin: 10px 0 !important;
        @include large{
            width: 300px !important;
            margin: 10px !important;
        }
        >.card-header{
            background: #23509D !important;
            padding: .3rem 1.25rem !important;
        }
    
        .card-body span{
            display: inline-block;
            background: #23D160;
            border-radius: 20px;
            padding: 3px 10px !important;
            color: $light;
            font-weight: 600;
            font-size: 0.8rem !important;
            margin-bottom: 5px;
        }
    } 
}

.megapacks-section{
    
    .card-planes{
        margin: 10px !important;
        @include extra-large{
            height: 250px !important;
        }
        .card-body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .card-extras{
        background: #000045;
        box-shadow: none !important;
        margin: 10px 0 !important;
        color:  $light !important;
        .card-hedaer , .card-body{
            color:  $light !important;
            hr{
                background: $light !important;
            }
        }

        .card-header{
            
            span{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: $tertiary;
                text-align: center;
                line-height: 25px;
                font-size: 0.8rem;
            }
            
        }
        
        @include large{
            width: 300px !important;
            margin: 10px !important;
        }

        .switch-check{
            transform: scale(0.8) !important;
            margin-left: -8px !important;
        }

    }

    
}

