/*Estilos Agregados por Joel Garcia*/
.social {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 2000;
}
    .social ul {
        list-style: none;
    }
    .social ul li a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
    }
    .social ul li .icon-down {background: transparent;}
    .social ul li a:hover {
        padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
        }
    .franja_section {
        margin: 1em;
    }

        /*Estilos css temporales en este documento*/
        .transparencia {background: #7b7b7b00 linear-gradient(1deg, black, transparent);}
        .recortado {bottom: -110px;position: absolute;width: 100%!important;height: auto;right: 0px;overflow: hidden;}
        .ampliar:hover {-webkit-transform:scale(1.3);transform:scale(1.3);transition:all .5s ease-in-out;}
        .iconos {margin: 1em;transition:all .5s ease-in-out;}
        .imagelateral {background-image: url(../../assets/img/avel-chuklanov-6ePuSf5Wago-unsplash@2x-min.jpg);width: 100%;height:0;padding-top:90%; background-position: 100% 100%; background-size: cover;position: relative;border-radius: 15px}
        .uno {background-image: url(../../assets/img/glenn-carstens-peters-SL5d_8ywAAA-unsplash@2x-min.jpg);width: 100%;height:0;padding-top:90%; background-position: 100% 100%; background-size: cover;position: relative;border-radius: 15px}
        .dos {background-image: url(../../assets/img/19029@2x-min.jpg);width: 100%;height:0;padding-top:90%; background-position: 100% 100%; background-size: cover;position: relative;border-radius: 15px}
        .tres {background-image: url(../../assets/img/3781479@2x-min.jpg);width: 100%;height:0;padding-top:90%; background-position: 100% 100%; background-size: cover;position: relative;border-radius: 15px}
        .cuatro {background-image: url(../../assets/img/3781350@2x-min.jpg);width: 100%;height:0;padding-top:90%; background-position: 100% 100%; background-size: cover;position: relative;border-radius: 15px}
        .cinco {background-image: url(../../assets/img/4859@2x-min.jpg);width: 100%;height:0;padding-top:90%; background-position: 100% 100%; background-size: cover;position: relative;border-radius: 15px}
        .sombreado {box-shadow: -1px 10px 21px 0px rgba(0,0,0,0.34);
        -webkit-box-shadow: -1px 10px 21px 0px rgba(0,0,0,0.34);
        -moz-box-shadow: -1px 10px 21px 0px rgba(0,0,0,0.34);}
        .transc {transition:all .5s ease-in-out;}
        .ir-arriba {
        display:none;
        padding:20px;
        background:#024959;
        font-size:20px;
        color:#fff;
        cursor:pointer;
        position: fixed;
        bottom:20px;
        right:20px;
}
