// CURSO EMPRESAS INICIO
.curso-empresa-section {
    //colores para spam
    .color-one {
        background: #FEF1CD;
    }
    .color-two {
        background: #D2F4E2;
    }
    .color-three {
        background: #F7D3D6;
    }
    .first-section {
        width: 100%;
        background: #FBFBFB;
        position: relative !important;
        .content-first-section {
            z-index: 2 !important;
            .title-mega {
                font-size: 1.9rem;
            }
        }
        &::after {
            content: '';
            background: $light;
            width: 100%;
            height: 10%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1 !important;
        }
        .first-description {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                background: #FCC11C;
                height: 76%;
                width: 1px;
            }
            >div {
                position: relative;
                padding-left: 20px !important;
                strong {
                    font-weight: 900;
                }
                p {
                    text-align: justify;
                    font-size: 1rem;
                    @include large {
                        padding-right: 25%;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -5px;
                    background: #FCC11C;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 1px solid #707070;
                }
            }
        }
        .group-card {
            height: 100% !important;
            .card {
                border-style: none !important;
                box-shadow: 10px 10px 20px #00000029;
                border-radius: 10px !important;
                .card-header {
                    background: transparent;
                    border-style: none !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                .card-title {
                    text-align: center;
                    font-size: 1rem !important;
                    font-weight: 900;
                }
            }
        }
    }
    .second-section {
        overflow: hidden;
        .img-section-second {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            background: url(../img/section-img-one.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include large {
                height: 500px;
                margin-left: -10%;
            }
        }
    }
    .third-section {
        overflow: hidden;
        position: relative;
        .img-section-third {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            background: url(../img/section-img-two.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include large {
                height: 500px;
                margin-left: 10%;
            }
        }
    }
    .fourth-section {
        background: #F9F9F9;
        position: relative;
        &::before {
            content: '';
            background: $light;
            width: 100%;
            height: 35%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .groud-card-fourth-section {
            >div:nth-child(1)>.card {
                .card-header {
                    background: transparent linear-gradient(106deg, #5BD463 0%, #D0F8A3 100%) 0% 0% no-repeat padding-box;
                }
            }
            >div:nth-child(2)>.card {
                .card-header {
                    background: transparent linear-gradient(132deg, #FCC11C 0%, #FCC11C 0%, #FFF8E3 100%) 0% 0% no-repeat padding-box;
                }
            }
            >div:nth-child(3)>.card {
                .card-header {
                    background: transparent linear-gradient(114deg, #CA2333 0%, #FEBAC0 100%) 0% 0% no-repeat padding-box;
                }
            }
            >div:nth-child(4)>.card {
                .card-header {
                    background: transparent linear-gradient(94deg, #00004C 0%, #090999 100%) 0% 0% no-repeat padding-box;
                }
            }
        }
        .card {
            border-style: none;
            box-shadow: 10px 10px 40px #00000029;
            border-radius: 15px !important;
            .card-header {
                border-style: none;
                padding-top: 30px !important;
                padding-bottom: 30px !important;
                color: $light;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 15px 15px 0 0!important;
            }
            .card-body {
                padding-top: 40px !important;
                padding-bottom: 40px !important;
                .card-title {
                    font-size: 1.5rem;
                    font-weight: 900;
                }
                strong,
                .card-text {
                    color: $dark_gray2;
                }
            }
        }
    }
    .fith-section {
        .card {
            position: relative;
            img {
                position: absolute;
                top: -25%;
                left: -5%;
                width: 100% !important;
                @include large {
                    width: 110% !important;
                }
            }
            border-style: none;
            box-shadow: 20px 20px 50px #00000029;
            border-radius: 20px !important;
            .card-header {
                border-style: none;
                background: transparent;
                font-size: 2rem;
                font-weight: 900;
            }
        }
    }
    .sixth-section {
        height: 300px !important;
        background: transparent linear-gradient(115deg, $danger 46%, #F89B9B 100%);
        position: relative !important;
        overflow: hidden;
        .sixth-section-content {
            z-index: 2;
        }
        .audifono-img {
            position: absolute;
            right: 7%;
            bottom: -45%;
            width: 350px;
            opacity: 0.3;
            z-index: 1;
        }
    }
    .seven-section {
        .card,
        .card-header {
            text-align: center;
            border-style: none;
            background: transparent;
        }
        .card-header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            span {
                display: inline-block;
                background: $light;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                border: 1px dashed $dark_gray2;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 75px;
                    height: 75px;
                }
            }
        }
        @include large {
            .group-card-seven>div:nth-child(2)>.card>.card-header::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -50%;
                width: 100%;
                height: 1px;
                background: $dark_gray2;
                z-index: -1;
            }
            .group-card-seven>div:nth-child(3)>.card>.card-header::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -50%;
                width: 100%;
                height: 1px;
                background: $dark_gray2;
                z-index: -1;
            }
        }
        .card-title {
            font-size: 1.2rem;
            font-weight: 900;
        }
        .card-text {
            color: $dark-gray;
        }
        .card-body {
            position: relative;
            span {
                background: $danger;
                display: inline-block;
                position: absolute;
                top: -25%;
                left: 0;
                right: 0;
                margin: auto;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: $light;
                font-size: 1.5rem;
                font-weight: 900;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .eight-section {
        .slider-custom {
            .item {
                background: transparent !important;
                height: 200px;
                width: 480px;
                margin-left: 13px !important;
                margin-right: 13px !important;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// CURSO EMPRESAS FIN
// CURSO EMPRESAS FIN