//FOOTER DE LA WEB INICIO//FOOTER DE LA WEB INICIO
footer {
    overflow: hidden;
    background: #f7f7f7 !important;
    .logo-farm__headline {
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        width: 100%;
        margin: 0 auto 32px;
        color: #9b999c;
    }
    .row {
        margin: 0 !important;
    }
    .footer-title {
        border-left: 4px solid $danger;
        padding-left: 10px;
        color: $dark;
        font-size: 1.6rem;
        @include medium {
            font-size: 1.2rem;
        }
        @include extra-large {
            font-size: 1rem;
        }
    }
    hr {
        width: 100% !important;
    }
    .container-enlaces-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .col-enalces {
            width: 100%;
            @include medium {
                width: 200px;
            }
        }
        ul {
            padding: 0px !important;
        }
        li {
            list-style: none !important;
            padding: 4px 0 !important;
        }
    }
    a {
        display: flex;
        color: #8f8f8f;
        text-decoration: none !important;
        font-size: 1.2rem !important;
        @include medium {
            font-size: .95rem !important;
        }
        @include large {
            font-size: 1rem !important;
        }
        @include extra-large {
            font-size: 15px !important;
        }
        &:hover {
            color: #8f8f8f !important;
        }
        span {
            color: #f10101 !important;
        }
    }
    .images__image_last {
        max-width: 100px !important;
        margin: 5px 10px;
        @include medium {
            margin: 5px 20px;
            width: 130px !important;
        }
    }
    .banner-footer-top {
        background-color: #ECECEC;
        @include large {
            padding-left: 8% !important;
            padding-right: 8% !important;
        }
        p {
            color: #707070;
            font-size: 0.9rem;
            @include large {
                width: 60%;
            }
        }
        img {
            width: 50px;
        }
    }
    .enlaces-buttons {
        a {
            width: 200px !important;
            height: 40px;
            font-size: 13px;
            &:hover {
                color: #8f8f8f !important;
            }
            span {
                color: $light !important;
                font-weight: normal !important;
                font-size: 1.3rem;
            }
        }
    }
    .enlaces-footer {
        a {
            width: 200px !important;
            height: 45px;
            @include medium {
                width: 176px !important;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .enlaces-buttons {
            a {
                height: 45px;
                width: 200px !important;
                @include medium {
                    width: 176px !important;
                }
                &:hover {
                    color: $light !important;
                }
                span {
                    color: $light !important;
                    font-weight: 300;
                    font-size: 1.3rem;
                }
            }
        }
    }
}